<div class="col-md-4 text-center">
  <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>

<div id="htmlData">
  <div class="container text-white p-5">

    <div class="row">
      <div class="col-lg-5 left">
        <div class="imgBx img">
          <img src="https://w7.pngwing.com/pngs/122/453/png-transparent-computer-icons-user-profile-avatar-female-profile-heroes-head-woman-thumbnail.png">
          <h4>Vullipayala Srividhya <br> <span class="text-warning">Mean Stack Developer</span> 
            <hr>
            <h6 class="text-white">Expert in developing Responsive & Interactive websites Expert in CSS3, HTML5, Bootstrap, and Angular TypeScript Very good knowledge of JavaScript. Expert in MongoDB, NodeJS ,Express</h6>
          </h4>
          <div class="contact">
            <h5 class="text-warning">CONTACT US</h5>
           <ul>
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-envelope"></i></span>
              <span class="text">srividhyav44<i class="fa-solid fa-at"></i>gmail.com</span>
            </li>
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-phone"></i></span>
              <span class="text">91-9398905729</span>
            </li>
            <li>
              <span class="icon mx-2"><i class="fa-brands fa-github"></i></span>
              <span class="text">https://github.com/</span>
            </li>
            <li>
              <span class="icon mx-2"><i class="fa-brands fa-linkedin"></i></span>
              <span class="text">https://www.linkedin.com/feed/</span>
            </li>
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">Nellore, sarvepalli, india</span>
            </li>
          </ul>
          </div>
          <div class="projectlinks">
            <h5 class="text-warning"><u>PROJECTS</u></h5>
            <ul class="text-white">
               <li>https://github.com/srividhyavidhy/resume</li>
               <li>https://github.com/srividhyavidhy/angular-15-jwt-auth</li>
               <li>https://github.com/srividhyavidhy/User</li>
               <li>https://github.com/srividhyavidhy/mean-stack</li>
               <li>https://github.com/srividhyavidhy/MVC</li>
               <li>https://github.com/srividhyavidhy/shop</li>
               <li>https://github.com/srividhyavidhy/add-to-food</li>
               <li>https://github.com/srividhyavidhy/food</li>
            </ul>
          </div>
          <div class="profile">
            <h5 class="text-warning">PROFILE SUMMARY</h5>
            <p class="text-white">
              I Am Srividhya I Am from Nellore I have completed my bachelor Degree in computer science From vikrama Simhapury University. Due to some family problems I had to stop my career. I got married right after graduation. After that the children are their responsibility where I could not work. I want to start my career again. Give me a chance
            </p>
          </div>
          <div class="about">
            <h5 class="text-warning"><u>ABOUT</u></h5>
            <p class="font-size-4 text-white">
              Pssionate About Web Development Gole is to Achieve A Good position by doing satisfying work in the IT field.
              Strongly focused to complete the tasks infast-faced environment. 
            </p>
          </div>
          <div class="skills">
            <h5 class="text-warning"><u>SKILLS</u></h5>
           <ul class="text-white font-size-4">
            <li>
              MEAN Stack expertise - ability to work with Angular, Node.js, Express.js and MondoDB.
            </li>
            <li>Good Knowledge NgRx, Reactive programming(RxJS),Observables.</li>
            <li>Experience with Responsive Web Design(RWD) patterns.</li>
            <li>HTML, CSS, JavaScript, Bootstrap, and TypeScript programming languages expertise.</li>
            <li>CSS and JavaScript based frameworks.</li>
            <li>Good understanding of the Client-side processes and requirements.</li>
            <li>Good understanding of the Server-side processes and requirements.</li>
            <li>Good understanding of the architecture and workflow.</li>
            <li>Familiar with package manager-npm.</li>
            <li>Familiarity with GitHub.</li>
            <li>Good at Time-management, critical thinking and communications skills.</li>
            <li>Aplplication development.</li>
            <li>Web Development.</li>
          </ul>
           </div>
          </div>
        
       
   
      </div>
      <div class="col-lg-7 right">
        <div class="summary ">
          <h4 class="text-warning"><u>PROFESSIONAL SUMMARY</u></h4>
          <ul class="font-size-4 text-black">
            <li>
              1+ year of professional experiance as MEAN Stack web developer at freelancing.
            </li>
            <li>
              Developed Web Apllications and Food apllication from scratch to production including frontend,backend,production and maintenance using MEAN Stack web development technologies.
            </li>
            <li>
              Experience on up to date advance web development technologies Angular, Node.js
              ExpressJS,MongoDB,NPM,GIT,ES6,JavaScript,CoreJava,Bootstrap, CSS3
              HTML5,MVC,JSONetc.,
            </li>
            <li>
              Extensive Knoledge on Full Application development life cycle, MVC, Moduler structure and work
              flow from scratch to production  
            </li>
          </ul>
        </div>
  
        <div class="education">
          <h4 class="text-warning"><u>EDUCATION</u></h4>
          <table class="table table-striped-columns">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Group</th>
                <th scope="col">Year Of Pass</th>
                <th scope="col">%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Bsc Computer Science<br>Vikrama Simhapuri University,SriVema Degree College,Naidupeta</td>
                <td>2010-2013</td>
                <td>89%</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Inter<br>SriVema Junior College,Naidupet</td>
                <td>2008-2010</td>
                <td>70.2%</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>SSC<br>Z.P.H.S.High School,Palchuru</td>
                <td>2008</td>
                <td>74%</td>
              </tr>
            </tbody>
          </table>
        </div>
        
         <div class="projects">
            <h5 class="text-warning">PROJECTS</h5>
            <h6 class="text-info">angular-15-jwt-auth<br> Nov 2023 </h6>
            <p class="text-black font-size-4">
             
MEAN stack Authentication & Authorization example It will be a full stack, with Angular 15 for front-end and Node.js Express for back-end with MongoDB database. The access is verified by JWT Token in Http Only Cookies. User can signup new account (registration), login with username & password.
            </p>
            <h6 class="text-info">Ecommerce<br> Nov 2023 </h6>
            <p class="text-black font-size-4">This project deals with developing an e-commerce website for Online Product Sale. It provides the user with a catalog of different product available for purchase in the store. In order to facilitate online purchase a shopping cart is provided to the user.</p>
            <h6 class="text-info">Mean-Stack-Crud<br> Nov 2023 </h6>
            <p class="text-black font-size-4">
              mean-stack-crud is the main entry point of our CRUD operation where we have three different components, so when you see the routes in which I have specified the default route of list employee so once the application gets loaded, the first page will show the list of employees in the table.
            </p>
          </div>     
          <div class="personal">
            <h5 class="text-warning"><u>PERSONAL DETAILS</u></h5>
            <ul class="font-size-4 text-black">
               <li>Date of Birth: 19-July-1993</li>
               <li>Nationality: Indion</li>
               <li>Marital Status: Matrried</li>
               <li>Gender: Female</li>
               <li>Languages: English, Telugu</li>
            </ul>
          </div> 
          <div class="software">
            <h5 class="text-warning"><u>Using Softwares</u></h5>
              <ul class="font-size-4 text-black">
                <li>NodeJs</li>
                <li>NVM</li>
                <li>VS Code</li>
                <li>Chrome Web Browser</li>
                <li>Git</li>
                <li>Insomnia</li>
                <li>Postman</li>
              </ul>
          </div>      
      </div>
     
    </div>
  </div>
</div>