<div class="col-md-4 text-center">
  <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>

<div id="htmlData">
  <div class="container text-white p-5">

    <div class="row">
      <div class="col-lg-4 left">
        <div class="imgBx img">
          <div class="text-center mt-1"><img src="../assets/image.jpg"></div>
          <h4>Srividya Vullipayala </h4>
          <h6 class="text-white">MEAN STACK DEVELOPER(FRESHER)</h6> <hr>
           
          <div class="contact">
            <div class="bg1"><h5 class="text-white">Contact Us</h5></div>
           <ul>
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-phone"></i></span>
              <span class="text">+91 6304388272, 9398905729</span>
            </li>
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-envelope"></i></span>
              <span class="text">srividhya7281<i class="fa-solid fa-at"></i>gmail.com</span>
            </li>
          
            <li>
              <span class="icon mx-2"><i class="fa-brands fa-github"></i></span>
              <span class="text">https://github.com/</span>
            </li>
         
            <li>
              <span class="icon mx-2"><i class="fa-solid fa-location-dot"></i></span>
              <span class="text">sarvepalli,Nellore, AndhraPradesh</span>
            </li>
          </ul>
          </div>

          <div class="about"> 
            <div class="bg1"><h5 class="text-white">About</h5></div>
            
            <p class="font-size-4 text-white">
              Pssionate About Web Development Gole is to Achieve A Good position by doing satisfying work in the IT field.
              Strongly focused to complete the tasks infast-faced environment. Due to some family problems I had to stop my career. I got married right after graduation. After that the children are their responsibility where I could not work. I want to start my career again. Give me a chance
            </p>
          </div>
          <div class="skills">
            <div class="bg1"><h5 class="text-white">Skills</h5></div>
            
           <ul class="text-white font-size-4">
            <li>
              Expertise and experience in the four main technologies – MongoDB, ExpressJS, AngularJS, and NodeJS
            </li>
            <li>Knowledge of HTML/CSS, jQuery, JavaScript, UI/UX design, AWS, Git, and design framework, web services, JSON, and frontend CSS frameworks like Bootstrap, etc.</li>
            <li>Good Knowledge NgRx, Reactive programming(RxJS),Observables.</li>
            <li>Experience with Responsive Web Design(RWD) patterns.</li>
            <li>Good understanding of the Client-side processes and requirements.</li>
            <li>Good understanding of the Server-side processes and requirements.</li>
            <li>Good understanding of the architecture and workflow.</li>
            <li>Familiar with package manager-npm.</li>
            <li>Familiarity with GitHub.</li>
            <li>Good at Time-management, critical thinking and communications skills.</li>
            <li>Aplplication development.</li>
            <li>Web Development.</li>
          </ul>
           </div>
          </div>
        
     
          <div class="system">
            <div class="bg1"><h5 class="text-white">Operating System:</h5></div>
            
            <ul class="font-size-4 text-white">
               <li>Windows</li>
               <li>Linux</li>
            </ul>
          </div>
      </div>
      <div class="col-lg-5 right">
        <div class="summary ">
          <div class="bg2"><h5 class="text-white">Professional Summary</h5></div>
        
          <p class="text-black">
            To work with a leading company by using my analytical thinking to the best of my ability combined with persevnce, so as to contribute to organization’s growth and goal, as well as to attain my professional goal.Fast paced learner with high level of confidence and understanding
            ability to quikly learn and process things.
            
          </p>
        </div>
        <div class="roles">
          <div class="bg2"><h5 class="text-white">Roles & Responsibulities</h5></div>
       
        <ul class="text-black">
          <li>
            Developing Front End Website Architecture
          </li>
          <li>
            Creating Servers And Databases For Functionality
          </li>
          <li>
            Designing and developing APIs
          </li>
          <li>
            Designing user interactions on Web pages
          </li>
          <li>Ensuring Responsiveness Of Applications</li>
          <li>Architect Scalable Web Architectures</li>
          <li>Developing Back End Website Applications</li>
          <li>Deploy Applications On The Cloud</li>
          <li></li>
        </ul>
         
            
           
        </div>
        <div class="education">
          <div class="bg2"><h5 class="text-white">Education</h5></div>
         
        <ul class="text-black">
          <li>
             Completed<b> Bsc Computer Science</b> During <b>2010 to 2013</b> and secured an 
              <b>aggregate of 85% </b> from <b>Vikrama Simhapuri University</b>,Nellore.
          </li>
          <li>
            Completed<b>INTERMEDIATE</b> During <b>2008 to 2010</b> and secured an 
            <b>aggregate of 70.2% </b> from <b>A.P state</b>.
          </li>
          <li>
            Completed<b>SSC</b> During <b>2008</b> and secured an 
              <b>aggregate of 74% </b> from <b>A.P state</b>.
          </li>
        </ul>
         
            
           
        </div>
        <div class="certifications">
          <div class="bg2"><h5 class="text-white">Certifications</h5></div>
      
         
     <ul class="text-black">
      <li>
        Amazon web services work shop
      </li>
      <li>
        APITA(AP information Technology academy).

      </li>
     </ul>
           
        </div>
         <div class="projects">
          <div class="bg2"><h5 class="text-white">Projects On GitHub</h5></div>
            <ul class="text-black"> 
              <li>angular-15-jwt-auth</li>
              <li>Ecommerce App</li>
            <li>Zomato</li>
            <li>CURD Operation Project</li>
            </ul>    
       
          <div class="software">
            <div class="bg2"><h5 class="text-white">Using Softwares</h5></div>
        
              <ul class="font-size-4 text-black">
                <li>NodeJs</li>
                <li>NVM</li>
                <li>VS Code</li>
                <li>Chrome Web Browser</li>
                <li>Git</li>
                <li>Insomnia</li>
                <li>Postman</li>
              </ul>
          </div> 
          <div class="personal">
            <div class="bg2"><h5 class="text-white">Personal Details</h5></div>
           
            <ul class="font-size-4 text-black">
               <li>Date of Birth: 19-July-1993</li>
               <li>Nationality: Indion</li>
               <li>Marital Status: Matrried</li>
            </ul>
          </div> 
          <div class="languages">
            <div class="bg2"><h5 class="text-white">Languages:</h5></div>
            
            <ul class="font-size-4 text-black">
               <li>Telugu
                <span class="mx-5 text-warning"><i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                </span>
              </li>
               <li>English
                <span class="mx-5 text-warning"><i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  <i class="bi bi-star-fill mx-1"></i>
                  
                </span>
                 

               </li>
            </ul>
          </div>     
      </div>
     
    </div>
  </div>
</div>